@use '@/styles/variables' as *;

.wrapper {
  margin: 0 auto;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  height: 100vh;
}

.darkTheme {
  color: $light-color;
  background-color: $dark-color;
}

.lightTheme {
  color: $dark-color;
  background-color: $light-color;
}
