// Colors
$primary-color: #1890ff;
$dark-background: #242424;
$light-text: #ffffff;
$light-placeholder: #bfbfbf;
$shadow-light: rgba(24, 144, 255, 0.2);
$shadow-hover: rgba(24, 144, 255, 0.47);
$button-light-disabled-bg: #ffffff;
$button-dark-disabled-text: #bfbfbf;
